.MainContainer {
    /* background-color: #b8C655; */
    /* background-color: #ABDCD6; */
    background-color: #000000;
    color: #ffffff;
    text-shadow: 1px 1px #00000050;
    text-align: center;
}

.mainText {
    color: black;
    text-shadow: none;
}

.imgHome {
    width: 100%;

}

/* mobile styles */
@media only screen and (max-width: 600px) {
    .MainContainer {
        padding: 5px;
        min-height: 500px;
    }

    .imgHome {
        padding-top: 100px;
        width: 50%;
    }
}