.MainContainer {
    /* background-color: #b8C655; */
    /* background-color: #ABDCD6; */
    background-color: #000000;
    color: #ffffff;
    text-shadow: 1px 1px #00000050;
    text-align: center;
    padding: 10px;
    min-height: 1000px;
}

.mainText {
    color: black;
    text-shadow: none;
}

.imgHome {
    margin-top: 40px;
    width: 30%;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-40px);
    }
  }
  
  .myElement {
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  

/* mobile styles */
@media only screen and (max-width: 600px) {
    .MainContainer {
        padding: 5px;
        min-height: 500px;
    }

    .imgHome {
        padding-top: 100px;
        width: 50%;
    }
}