.MainContainer {
    /* background-color: #b8C655; */
    /* background-color: #ABDCD6; */
    background-color: #000000;
    color: #000000;
    text-shadow: 1px 1px #00000050;
    text-align: center;
    min-height: 100vh;
}

.mainText {
    padding-bottom: 50px;
    color: black;
    text-shadow: none;
}