.Navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5vw;
    margin-left: 30px;
  }
  .NavbarWrapper {
    display: flex;
    flex-direction: row;
  }
  .Navbar__desktop {
    display: flex;
    width: 1200px;
  }

  .Navbar__toggle {
    background-color: #000;
    border: none;
    display: none;
  }
 
  .Navbar__toggle i {
    font-size: 30px;
    padding: 2px;
    color: #fff;
  }

  .Links {
    padding: 20px; 
  }
  
  .Navbar nav {
    display: flex;
    justify-content: flex-start;
  }
  


/* mobile styles */
@media only screen and (max-width: 800px) {

    .Navbar {
        font-size: 3.5vw;
        margin-left: 19px;
    }
    .Navbar__desktop {
        display: none;
      }
      .Navbar__toggle {
        background-color: #000;
        border: none;
        font-size: large;
        display: block;
      }
      .Navbar__mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 auto; /* changed margin to "0 auto" to horizontally center */
        background-color: rgb(0, 0, 0);
        padding: 40px;
        position: absolute;
        top: 110px;
        left: 0; /* changed right to left to align with the left edge of the screen */
        right: 0; /* set right to 0 to make the dropdown fill the entire width */
        border-radius: 20px;
        font-size: 8vw;
        border: 4px solid white;
      }
      

    .Links {
        padding: 8px; 
    }

    .MobileLinks {
        color: #fff; 
      }

    .Navbar button {
        position: absolute;
        top: 30px;
        right: 20px;
        padding: 10px;
        display: block;
      }
    
}